{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "proseWrap": "preserve"
}
